@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

html {
  color-scheme: light; 
}

body {
  background-color: #ffffff; /* Ensure the background is light */
  color: #000000; /* Ensure the text is light mode */
  font-family: Arial, Helvetica, sans-serif;
}